.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    /* padding: 0 20px; */

}

.title {
    font-size: 22px;
    color:black;
    padding-top: 15px;
    padding-left: 6px;
    margin: 0px 0 15px 10px;
}

.bg {
    background-color:white;
    margin: 0 20px;

}
body{
    background: white;
}

.buttonChange {
    margin-left: 14px;
}

.loader {
    margin: 0 auto;
    width: 200px;
}